        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls"><div class="slides"></div><h3 class="title"></h3><a class="prev"></a><a class="next"></a><a class="close"></a><a class="play-pause"></a><ol class="indicator"></ol></div>

        <script src="{{ url_for('static', filename='js/libs/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/jquery.form.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/jquery-ui.min.js') }}"></script>

        <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/feather.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/jquery.slimscroll.min.js') }}"></script>


        <script src="{{ url_for('static', filename='dist/js/moment.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/select2/js/select2.min.js') }}"></script>


        <script src="{{ url_for('static', filename='dist/plugins/@simonwep/pickr/pickr.es5.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/theme-colorpicker.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/js/script.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/toastr/toastr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/jquery-validation/jquery.validate.min.js') }}"></script>


        <script src="{{ url_for('static', filename='js/libs/tabulator/js/tabulator.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/tabulator/export/xlsx.full.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/tabulator/export/jspdf.umd.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/tabulator/export/jspdf.plugin.autotable.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/tabulator/fonts/arial-font.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/bootbox/bootbox.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ url_for('static', filename='js/libs/ckfinder/ckfinder.js') }}"></script>

        <script src="{{ url_for('static', filename='js/libs/blueimpGallery/js/jquery.blueimp-gallery.min.js') }}"></script>

        <link rel="stylesheet" href="https://js.arcgis.com/4.29/esri/themes/light/main.css"/>
        <script src="https://js.arcgis.com/4.29/"></script>

        <script src="{{ url_for('static', filename='js/file.uploader.js') }}"></script>
        <script src="{{ url_for('static', filename='js/damchart.js', v=time) }}"></script>
        <script src="{{ url_for('static', filename='js/profilechart.js', v=time) }}"></script>
        <script src="{{ url_for('static', filename='js/project.js', v=time) }}"></script>
        <script src="{{ url_for('static', filename='js/app.js', v=time) }}"></script>