<div class="row">
    <div class="col-lg-6 mb-3">
        <label class="small mb-2" for="FileTransferID">{{ StaticText.CsvLoggerField.FileTransferID }}</label>
        <select class="selectTwo form-control-sm" id="FileTransferID" name="FileTransferID" data-url="/api/filetransfer/list" required>
            <option value="" selected>-- {{ StaticText.Choose }} --</option>
        </select>
    </div>

    <div class="col-lg-6 mb-3">
        <label class="small mb-2" for="FilenameFormat">{{ StaticText.CsvLoggerField.FilenameFormat }}</label>
        <input type="text" class="form-control form-control-sm" id="FilenameFormat" name="FilenameFormat" placeholder="@DEVICENAME_%d%m%Y.csv" required>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <div class="form-check form-switch">
            <input type="hidden" name="Status" value="0">
            <input class="form-check-input" type="checkbox" id="Status" name="Status" value="1">
            <label class="small" for="Status">{{ StaticText.CsvLoggerField.Status }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label class="small mb-2" for="Remark">{{ StaticText.CsvLoggerField.Remark }}</label>
        <textarea class="form-control form-control-sm" id="Remark" name="Remark"></textarea>
    </div>
</div>
