{% from "dashboard/main/config_field.html" import render_field with context %}
<div class="app-json-data" data-field="Request">
    <div class="row">
        <div class="col-12">
        {% for settings in StaticText.HTTPServiceConfigures %}
            <div class="p-2">
                <div class="row align-items-start">
                {% for key, field in settings.fields.items() %}
                    <div class="{{ 'col-12' if field.table else 'col-lg-4 col-md-6' }} mb-2">
                        <div class="form-group field-basic" data-field="{{ key }}">
                            {{ render_field(key, field) }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
