<div class="row">
    <div class="col-lg-6 mb-3">
        <label class="small mb-2" for="StationID">{{ StaticText.HttpField.StationID }}</label>
        <select class="selectTwo form-control-sm" id="StationID" name="StationID" data-url="/api/stations/list" required>
            <option value="" selected>-- {{ StaticText.Choose }} --</option>
        </select>
    </div>

    <div class="col-lg-6 mb-3">
        <label class="small mb-2" for="URL">{{ StaticText.HttpField.URL }}</label>
        <input type="text" class="form-control form-control-sm" id="URL" name="URL" required>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <div class="form-check form-switch">
            <input type="hidden" name="Status" value="0">
            <input class="form-check-input" type="checkbox" id="Status" name="Status" value="1">
            <label class="small" for="Status">{{ StaticText.HttpField.Status }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label class="small mb-2" for="Remark">{{ StaticText.HttpField.Remark }}</label>
        <textarea class="form-control form-control-sm" id="Remark" name="Remark"></textarea>
    </div>
</div>
