{% from "dashboard/main/filter_field.html" import filter_select, filter_input, filter_period, filter_dates, filter_param_range with context %}
{# HTTP Logs filters (httplog.js) #}
<div class="tabulator-filters app-filters">
	<div class="row">
		{{ filter_select("ProjectIDFilter", "ProjectID", StaticText.FilterLabels.Project, url="/api/projects/list?status=1", first=StaticText.All) }}
		{{ filter_select("RiverBasinIDFilter", "RiverBasinID", StaticText.FilterLabels.Watershed, url="/api/riverbasins/list?status=1", first=StaticText.All) }}
		{{ filter_select("StatusFilter", "Status", StaticText.FilterLabels.Status, options=StaticText.HttpLogStatuses, first=StaticText.All) }}
		{{ filter_dates() }}
	</div>
</div>
