<div class="d-md-flex d-block align-items-center justify-content-between page-breadcrumb mb-3">
    <div class="my-auto mb-2">
        <h2 class="mb-1">
            <span class="text"></span>
            <span class="content-counter"></span>
        </h2>
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a href="{{ StaticText.APP_MENU.main_menu.submenu[0].url }}"> {{ StaticText.APP_MENU.main_menu.submenu[0].icon | safe}} </a>
                </li>
            </ol>
        </nav>
    </div>
</div>